# Insert your information for your AWS account in here

# Basic key/secret access to AWS
key: KEY
secret: SECRET

# Keypair information (this is region specific)
keyname: KEYNAME
keypath: PATH TO PRIVATE KEY PEM FILE